.tituloPrincipal{
    color: $color-primario;
}

  .card-img-top {
    width: $width-img-card;
    height: $height-img-card;
    object-fit: $escala-img-card;
  }
  .text-underline-hover{
    text-decoration: $decoracion-texto;
  }
  .text-underline-hover:hover {
    text-decoration: $decoracion-hover;
  }
  /* Media query para pantallas grandes (lg) */
  @media (max-width: 1199.98px) {
    .btn.btn-primary {
        font-size: 16px;
        padding: 6px 12px;
      }
  }
  
  /* Media query para pantallas medianas (md) */
  @media (max-width: 991.98px) {
      .btn.btn-primary {
        font-size: 16px;
        padding: 4px 8px;
      }
  }
  
  /* Media query para pantallas pequeñas (sm) */
  @media (max-width: 767.98px) {
    .card-text.text-center {
        .tarjetaEventosIndex {
            flex-direction: row;
            gap: 10px;
        }
    }
}
 
  