$color-primario: #0080FF; 
$color-secundario: white;
$tipografia-general: 'Fira Sans', sans-serif;
$escala-img-card: cover;
$decoracion-texto: none;
$decoracion-hover: underline;
$tamanio-img-footer: 30px;
$transition-footer: transform 0.5s ease;
$transform-footer: rotate(-30deg);
$width-img-card: 250px;
$height-img-card: 250px;